<div class="block">
    <h2 class="blockText">
        <%= blockTitle[0] %>
    </h2>
        <h2 class="value"><%= stars %></h2>
        <img src="/starIcon.png" alt="" class="icon">
</div>
<div class="block">
    <h2 class="blockText">
        <%= blockTitle[1] %>
    </h2>
        <h2 class="value"><%= level %></h2>
        <img src="/levelIcon.png" alt="" class="icon">
</div>
<div class="block">
    <h2 class="blockText">
        <%= blockTitle[2] %>
    </h2>
        <h2 class="value"><%= diff %></h2>
        <img src="/<%= icon %>DiffIcon.png" alt="" class="icon iconDiff">
</div>