<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/userPage.css">
    <link rel="stylesheet" href="/reset.css">
    <link rel="stylesheet" href="/footer.css">
    <title>GlowLang</title>
</head>
<body>
    <header>
        <div class="logo" onclick="logo()"></div>
        <script>
            function logo() {
            window.location.href='/mainMenu';
            }
        </script>
    </header>
        <main>
            <div class="avatarContainer">
                <div class="beamsContainer">
                    <div class="firstBeam beam"></div>
                    <div class="secondBeam beam"></div>
                    <div class="thirdBeam beam"></div>
                    <div class="fourthBeam beam"></div>
                </div>
                <div class="cloudsContainer">
                    <div class="cloud1Container">
                        <img src="/cloud1.png" alt="" class="cloud1 cloud">
                    </div>
                    <div class="cloud2Container">
                        <img src="/cloud2.png" alt="" class="cloud2 cloud">
                    </div>
                    <div class="cloud3Container">
                        <img src="/cloud3.png" alt="" class="cloud3 cloud">
                    </div>
                </div>
                <div class="avatar">
                    <img class= "avatarImage" src="/avatarImage.png" alt="avatar_image">
                </div>
                <h2 class="underAvatarText"><%= name %></h2>
                <div class="backGlow"></div>
            </div>
            <div class="mainInfoContainer">
                <div class="mainInfoWindow">
                    <div class="starContainer block">
                        <h2 class="stars blockText">Заработано звезд:</h2>
                        <div class="valueContainer">
                            <h2 class="starsValue value">0</h2>
                            <img src="/starIcon.png" alt="" class="starsIcon">
                        </div>
                    </div>
                    <div class="levelContainer block">
                        <h2 class="level blockText">Уровень:</h2>
                        <div class="valueContainer">
                            <h2 class="levelValue value">0</h2>
                            <img src="/levelIcon.png" alt="" class="levelIcon">
                        </div>
                    </div>
                    <div class="diffContainer block">
                        <h2 class="diff blockText">Уровень знаний:</h2>
                        <div class="valueContainer">
                            <h2 class="diffValue value"><%= diff %></h2>
                            <img src="/<%= icon %>DiffIcon.png" alt="" class="diffIcon">
                        </div>
                    </div>
                        <button class="back" onclick="back()">Назад
                            <div class="buttonShadowBack"></div>
                        </button>
                    <script>
                        function back(){
                            window.location.href='/mainMenu';
                        }
                    </script>
                </div>
            </div>
            <%- include('../views/partials/mountains'); %>
        </main>
<%- include('../views/partials/footer'); %>
</body>
</html>